.thumbnail {
  width: 300px;
  display: block;
  /* height: 300px;
  object-fit: contain;
  object-position: right;
  border-width: 2px;
  border-style: solid;
  border-color: red; */
}

.search-bar {
  font-size: 20px;
  margin-left: 0;
  display: block;
}

/* === Video Elements === */
.video-title {
  width: 300px;
}
.video-author {
  display: block;
}
.video-stats {
  display: block;
}
.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: red;
}